@import "../../scss/global.scss";
@import "../../scss/variables.scss";

.buttonprincipal {
  background-color: $orange-web;
  border: solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
}


.botones {
  display: flex;
  justify-content: space-between;
  
  background-color: $color-white;
  padding: $padding-unit;
  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}




.buttonprincipal {
  &:hover {
    background-color: $orange-smoot;
    color: $color-blue;
    border-color: $color-blue;
    
  &:visited{
    background-color: $silver;
    color: $color-black;
  }
  }
}

.btnmenu-2:visited {
  color: blue;
}
