@import '../../scss/global.scss';

.button {
  background-color: $color-yellow;
  padding: $padding-unit;
  border: 1px solid red;
}

.ghost {
  border-color: transparent;
}

.importante {
  background-color: green;
  color: white;
}
