@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/functions.scss';

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $blue_light_2;
    width: 100vw;
    border: $border_thickness solid $color-primary;
    border-radius: $border_radius_regular;
    z-index: 100;
    font-size: fs(big);

    &__left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: row;

        &__2 {
            padding: 0 30px;
        }

        &__3 {
            padding: 0 30px;
        }
    }
}

.topbar a {
    text-decoration: none;
    display: block;
}
.nav {
    width: 100%;

    & li a{
        padding: 0.4rem 30px;

        &:hover {
            background-color: $color-primary;
            color: white;
            cursor: pointer;
        }
    }
}
.nav__ul {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    background-color: $blue_light_2;
    border: $border_thickness solid $color-primary;
    border-radius: $border_radius_regular;
    list-style-type: none;
    width: 100vw;
    padding: 0;
}

.nav__ul--show {
    display: block;
}

.nav__button {
    background-color: transparent;
    padding: 0;
    color: $color-primary;
    text-transform: none;
    border: none;
    width: 100%;
    font-size: fs(big);
    font-weight: fw(bold);
    padding: 0 30px;

    &:hover {
        background-color: transparent;
    }

    &--pressed {
        background-color: $color-primary;
        color: $white;
        border-radius: 0;
        font-weight: fw(bold);

        &:hover {
            background-color: $blue_dark_2;
        }
    }
}


@media screen and (min-width: $bp-tablet) {

    .topbar {
        justify-content: flex-start;
        font-size: fs(big);

        &__item {

            &__2 {
                order: -1; 
            }

            &__3 {
                margin-left: auto;
            }

        }
    }

    .nav__button {
        font-size: fs(big);
        
        &--pressed {
            border-left: $border_thickness solid $color-primary;
        }
    }

    .nav__ul {
        left: auto;
        width: auto;
    }

}
