@import '../../scss/global.scss';
@import '../../scss/mixins.scss';
@import '../../scss/variables';

.background {
  display: flex;
  background-image: url(../../../public/imagesSVG/tramaorange.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pajaro {  
  position:absolute;
  width: 400px;
  height: 400px;

}

