@import '../../scss/variables';
.card-padre {
   background-color: $color-grey-smoot;
   color: black;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
   display: flex;
    flex-direction: column;
    
   
  } 
  
.vertical-text {
    transform: rotate(-180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    width: 53px;
    font-family: "Cinzel", serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}
.card__img .img {
    
    width: 200px;
    height: 200px;
  // Agrega estilos específicos para la imagen si es necesario
}

.img {
    width: 200px;
}
.paragraph {
    margin: 1rem;

}


    /*
    (props.background)}
       
            <div className='vertical-text'>{(props.title)}
                <h1>Diseño y desarrollo web</h1>
            </div>
            <div className="card__img"><img src={props.img} alt={props.title} />
            </div>
    
            <div>
            <p>{paragraph}
              He desarrollado sitios web y portafolios con e-commerce de varios artistas, entre ellos Javiera del Campo, Alfonso Fernández. Puedes consultar su trabajo en el enlace del menú.</p>
            </div>
            <div>
                <button className='services'>Ver más</button>
            </div>
          
        </article>       
      </>
      
      )


/*
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: .5em;
    overflow: hidden;

    &__img {
        width: calc(100% - 4rem);
        height: 10rem;
        background-color: rgb(230, 230, 254);
        padding: 2rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: multiply;
        }
    }

    &__contents {
        padding: 1rem;
        width: calc(100% - 2rem);
    }
}


estilos de otra tarjeta*/