

.section {
    
    border-radius: 15px;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 30px -1px rgba(0,0,0,0.18);
}

.seccion-color {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
}

/* COLORES */
.bg-color-yellow {
    background-color: $color-yellow;
}
.bg-color-smoke {
    background-color: $color_smoke;
}

.bg-color-grey-dark {
    background-color: $color-grey-dark;
}

.bg-color-grey-smoot {
    background-color: #a6a4a0;
}

.bg-color-yellow-smoot {
    background-color:#FAEBD4;
    border : 1px solid  #707070;
}
.bg-color-grey-light {
    background-color: #dfdede; 
    border: 1px solid #707070
}

.bg-color-white {
    background-color: fffff;
    border: 1px solid #707070
}
 .parrafos {
    text-align:left;
    justify-content: center;
    margin: 2rem;

 }



