.svg--small {
    width: 32px;
    height: 32px;
}

.svg--big {
    width: 64px;
    height: 64px;
}

.section {
    
    border-radius: 15px;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 30px -1px rgba(0,0,0,0.18);
    padding: 2rem;

    &__header {
        border-bottom: 3px solid #004999;
        opacity: 1;
    }

    &__buttons div {
        margin-bottom: 2rem;
        display: flex;
        gap: 1rem;
    }
}



.seccion-color {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative; 
}