@import '../scss/variables';
@import '.././index.css';


//aqui van los estilos del menú horizontal y de amburguesa

.Menu {
    width: 100%;
    background-color: $color-yellow;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}
.Menu-h1{
    background-color: $color-grey-light;
}
.Nav-button{
    background-color: $color-white;
    display: none;
     
}
.Menu-svg{
    width: 2em;
    height: 2em;
}
.Menu-nav{
    background-color: $color-grey-light;
    width: 100%;

    

}
.Menu-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.Menu-li{
    margin: 0.5em;
}

@media screen and (max-wight:480px){
    .Nav-button{
        display: flex;
    }
    .Menu-nav {
        width: 100%;

        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .Menu-ul {
        flex-direction: column;

    }
}












 //aquí comienzan los estilos de la paleta de colores
.section {
    width: 100vw;
    border-radius: 6px;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 30px -1px rgba(0,0,0,0.18);
}

.seccion-color {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
}

/* COLORES */
.bg-color-yellow {
    background-color: $color-yellow;
}
.bg-color-smoke {
    background-color: $color_smoke;
}

.bg-color-grey-dark {
    background-color: $color-grey-dark;
}

.bg-color-grey-smoot {
    background-color:$color-grey-smoot;
}

.bg-color-yellow-smoot {
    background-color:$color-yellow-smoot;
    border : 1px solid  #707070;
}
.bg-color-grey-light {
    background-color: $color-grey-light;
    border: 1px solid #707070
}

.bg-color-white {
    background-color: fffff;
    border: 1px solid #707070
}
 .parrafos {
    text-align:left;
    justify-content: center;
    margin: 2rem;

 }



