@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/functions.scss';

.window {
    background-color: $white-eggshell;
    border: $border_thickness solid $color-primary;
    border-radius: $border_radius_regular;
    position: fixed;
    z-index: z(absolute);

    & header {
        border-bottom: $border_thickness solid $color-primary;
        text-align: center;
        display: flex;
        align-items: center;

        & .iconcross {
            position: fixed;
            margin: 0 0.5rem;
        }

        & h2 {
            margin: 0.25rem 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        gap: 60px;

        &--project-single {
            padding: 40px 1.8rem;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas:
            "three one"
            "three two"
            "three four";
            

            & .content__1 {
                grid-area: one;
            }

            & .content__2 {
                grid-area: two;
            }

            & .content__3 {
                grid-area: three;
            }

            & .content__4 {
                grid-area: four;
            }

            & svg {
                margin: auto;
            }
        }
    }

    &__size-medium {
        width: 650px;
        height: 400px;
    }
}

@media screen and (max-width: $bp-desktop) {

    .window {
        left: 0;

        &__content {
            justify-content: center;

            &--project-single {
                
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas:
                "one"
                "two"
                "three"
                "four";
            }
        }

        &__size-medium {
            width: auto;
            height: auto;
        }
    }

}

@media only screen and (min-width: 600px) {
    .container{
        
    }
}


