@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/functions.scss';

.window {
    background-color: $white-eggshell;
    border: $border_thickness solid $color-primary;
    border-radius: $border_radius_regular;
    position: fixed;
    z-index: z(absolute);

    & header {
        border-bottom: $border_thickness solid $color-primary;
        text-align: center;
        display: flex;
        align-items: center;

        & .iconcross {
            position: fixed;
            margin: 0 0.5rem;
        }

        & h2 {
            margin: 0.25rem 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        gap: 60px;

        &--project-single {
            padding: 40px 1.8rem;
        }
    }

    &__size-medium {
        width: 650px;
        height: 400px;
    }
}

@media screen and (max-width: $bp-desktop) {

    .window {
        left: 0;

        &__content {
            justify-content: center;
        }

        &__size-medium {
            width: auto;
            height: auto;
        }
    }

}


