@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
@import '../../scss/functions.scss';

.window {
    background-color: $white-eggshell;
    border: $border_thickness solid $color-primary;
    border-radius: $border_radius_regular;
    position: fixed;
    z-index: z(absolute);

    & > header {
        border-bottom: $border_thickness solid $color-primary;
        text-align: center;
        display: flex;
        align-items: center;

        & .iconcross {
            position: fixed;
            margin: 0 0.5rem;
        }

        & h2 {
            margin: 0.25rem 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        gap: 60px;
        

        &--about {
            height: 200px;
            overflow-y: scroll;
            height: 360px;

            & .about-page {
                background-color: $blue_light_1;
                border-radius: $border_radius_regular;
                max-width: 450px;
                height: 600px;
                padding: 45px;
                margin: auto;

                & hr.rounded {
                    border-top: $border_thickness solid $color-primary;
                    border-radius: 15px;
                }
    
                &__header {
                    display: flex;
                    gap: 10px;
                    padding-bottom: 0.6rem;
    
                    & h2{
                        margin: 0;
                        
                    }

                    & h3 {
                        margin: 0;
                        text-align: right;
                    }
                }
            }
        }

        &--project-single {
            padding: 40px 1.8rem;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 15px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas:
            "three one"
            "three two"
            "three two"
            "five four";
            max-width: 800px;
            

            & .content__1 {
                grid-area: one;
                display: flex;
                align-items: center;
            }

            & .content__2 {
                grid-area: two;

                & p {
                    margin-bottom: 0;
                }
            }

            & .content__3 {
                grid-area: three;
                
            }

            & .content__4 {
                grid-area: four;
                display: flex;
                gap: 15px;
            }

            & .content__5 {
                grid-area: five;
                display: flex;

                & button {
                    flex-grow: 1;
                }
            }

            & svg {
                margin: auto;
            }

            & img {
                width: 100%;
            }
        }
    }

    &__size-medium {
        width: 650px;
        height: 400px;
    }

    &__position {
    
        &--center {
            left: 20vw;
            top: 25vh;
        }

        &--bottom-left {
            left: 15vw;
            bottom: 10vh;
        }

        &--top-right {
            right: 10vw;
            top: 10vw;
        }

    }
}

@media screen and (max-width: $bp-desktop) {

    .window {
        left: 0;

        &__content {
            justify-content: center;

            &--project-single {
                
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas:
                "one"
                "two"
                "three"
                "four"
                "five";
            }
        }

        &__size-medium {
            width: auto;
            height: auto;
        }
    }

}

@media only screen and (min-width: 600px) {
    .container{
        
    }
}


