* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $blue_light_1;
    font-family: $font-primary;
    color: $color-primary;
}

main {
    padding: 60px;
}
.section__desktopItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}