@mixin font-size($font-size: $font-medium) {
    font-size: $font-size;
    @include mq(medium) {
        font-size: $font-size * 1.2;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headers;
    color: $color-primary;
}

p {
    font-family: $font-p;
    font-size: fs(medium); // 16px
    font-weight: fw(regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.8em;
}

h1,
.h1 {
    font-size: fs(xxx-big); // 40px
    font-weight: fw(extrabold);
}

h2,
.h2 {
    font-size: fs(xx-big); // 32px
    font-weight: fw(extrabold);
}

h3,
.h3 {
    font-size: fs(x-big); // 24px
    font-weight: fw(extrabold);
}

h4,
.h4 {
    font-size: fs(big); // 20px
    font-weight: fw(extrabold);
}

h5,
.h5 {
    font-size: fs(medium); // 16px
    font-weight: fw(extrabold);
}

h6,
.h6 {
    font-size: fs(small); // 14px
    font-weight: fw(regular);
}