h1 {
    color: $color_smoke;
    font-family: $font-family--header;
    
}
@each $header, $margin-bot, $font-size,
    $line-height
        in (h1, 0.5rem, 3, 1.1)
        (h2, 0.5rem, 2, 1.5)
        (h3, 1.5em, 1.4, 1.5)
        (h4, 1.5em, 1.3, 1.5)
        (h5, 0.5rem, 1.2, 1.5)
        (h6, 0.5rem, 0.9, 1.3)
{
    #{$header},
    .#{$header} {
        margin-bottom: $margin-bot;
        font-size: ($font-size) * 1rem;
        line-height: $line-height;
    }
}

.parrafos {
    width: 400px;
    text-align: left;
    justify-content: center;
    font-family: $font-family--parrafo;
    background-color: $color-grey-light;

}