$color-yellow: #fba82d;
$color_smoke: #1c1c1c;
$color-grey-dark: #707070;
$color-grey-smoot: #a6a4a0;
$color-yellow-smoot: #FAEBD4;
$color-white: #ffffff;

$color-grey-light: grey-light;



$font-family--header:'Oswald';
$font-family--parrafo:'Roboto';
$font-family--gammaTitle:'Quicksand';


