$color-green: #4C956C;
$color-green-dark: #2C6E49;
$color-orange: #F4A261;
$color-orange-dark: #E76F51;
$color-yellow: #E9C46A;
$color-yellow-light: #FFE9B3;
$color-blue: #37A3BB;

$blue_dark_2: #003166;
$blue_dark_1: #004999;
$blue_neutral_3: #006BDF;
$blue_neutral_2: #2990FF;
$blue_neutral_1: #61ADFF;
$blue_light_3: #99CAFF;
$blue_light_2: #CCE5FF;
$blue_light_1: #E8EFFD;

$white_eggshell: #FCF9F4;

$black: #313131;
$grey_darker: #5E5E5E;
$grey_dark: #9D9D9D;
$grey_lighter: #F0F0F0;
$grey_light: #D9D9D9;
$white: #FFFFFF;

$color-list: (
    'blue_dark_2': $blue_dark_2,
    'blue_dark_1': $blue_dark_1,
    'blue_neutral_3': $blue_neutral_3,
    'blue_neutral_2': $blue_neutral_2,
    'blue_neutral_1': $blue_neutral_1,
    'blue_light_3': $blue_light_3,
    'blue_light_2': $blue_light_2,
    'blue_light_1': $blue_light_1,
    'white_eggshell':$white_eggshell
);

$color-primary: map-get($color-list, 'blue_dark_1');

$font-primary: 'Nunito', sans-serif;

$font-p: $font-primary;
$font-headers: $font-primary;

// 3 tamaños con sus media queries. El tamaño normal, uno más pequeño (textos legales por ejemplo), y uno más grandes
$size-vars: (
    "xx-small"  :    .5,   // 11px
    "x-small"   :    .75,  // 12px
    "small"     :    .875, // 14px
    "medium"    :    1,    // 16px
    "big"       :    1.25, // 20px
    "x-big"     :    1.5,  // 24px
    "xx-big"    :    2,    // 32px
    "xxx-big"   :    2.5,  // 40px
    "huge"      :    6     // 96px
);

$weight-font: (
    "light"     :   200,
    "regular"   :   400,
    "bold"      :   600,
    "extrabold" :   700,
);

// SUPER UTIL PARA POSICIONES DE Z-INDEX
$map-layers: (
    "below":        -1,
    "default":      0,
    "above":        1,
    "over":         2,
    "absolute":     3
);

$border_radius_regular: 6px;
$border_thickness: 3px;