@import './_variables.scss';
@import './_site.scss';
@import './mixins.scss';
@import './functions';
@import './_typography.scss';
@import './_links.scss';
@import './utilities';


body {
margin: 0;
display: flex;
place-items: center;
}